@import '_variables';
@import '_mixins';
@import '_skills';

body {
  background-color: #fff;
  margin: 0;
  overflow-x: hidden;
  height: 300vh;
}

.active {
  background-color: #fff;
  color: #000;
}

@include scrollBar (8px, #000, #fff);

// .container {
//     width: 100%;
//     margin: 0 10px;
// }

.nav-hide {
  display: none;
  opacity: 1;
  transition: opacity .6s ease-in-out;
  -moz-transition: opacity .6s ease-in-out;
  -webkit-transition: opacity .6s ease-in-out;
}

.nav-show {
  display: block;
  position: fixed;
  background: #000;
  height: auto;
  width: 100%;
  padding: 0 10px;
  transition: opacity .6s ease-in-out;
  -moz-transition: opacity .6s ease-in-out;
  -webkit-transition: opacity .6s ease-in-out;
  z-index: 1;
  font-family: $default-font;
  text-transform: uppercase;
  .brand-logo {
    img {
      position: relative;
      top: 1vh;
      width: 120px;
      height: auto;
    }
  }
  li {
    &:hover {
      background-color: #fff;
    }
    a {
      &:hover {
        color: #000;
      }
    }
  }
  @include mobile {
    padding: 0;
  }
}

.sidenav-trigger {
  i {
    color: white;
  }
}

#banner {
  background-color: #000;
  width: 100vw;
  height: 100vh;
  padding: 20vh 0;
  .title {
    .banner-img {
      width: 30vw;
      height: auto;
      margin: 2vh 0;
      -webkit-animation-duration: 1s;
      -webkit-animation-delay: 1.5s;
      // -webkit-animation-iteration-count: infinite;
    }
    h1, h4, h3 {
      text-align: center;
      color: white;
      margin: 0;
      font-family: $default-font;
      text-transform: uppercase;
    }
    h1 {
      font-size: 12vw;
      padding: 1vh 0;
    }
    h4 {
      font-size: 3vw;
    }
    @include mobile {
      padding: 15vh 0;
      .banner-img {
        width: 40vw;
        height: auto;
        margin: 1vh 0;
        -webkit-animation-duration: 1s;
        -webkit-animation-delay: 1.5s;
      }
    }
  }
}

#portfolio {
  height: auto;
  padding: 10vh 0;
  background-color: #fff;
  .portfolio {
    -webkit-column-count: 2;
    column-count: 2;
    .img {
      display: block;
      margin: 0 auto;
      width: 35vw;
      height: auto;
    }
    .port-title {
      font-family: $default-font;
      text-transform: uppercase;
      text-align: center;
      color: #d10000;
      margin: 0;
      font-size: 2vw;
      -webkit-animation-duration: 1s;
      -webkit-animation-delay: 1.5s;
      -moz-animation-duration: 1s;
      -moz-animation-delay: 1.5s;
    }
    .port-text {
      font-family: $sec-font;
      text-align: center;
      color: #000;
      margin: 2% 20%;
      font-size: 20px;
      -webkit-animation-duration: 1s;
      -webkit-animation-delay: 2s;
      -moz-animation-duration: 1s;
      -moz-animation-delay: 2s;
    }
    .port-btn {
      display: block;
      margin: 0 auto;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      font-family: $default-font;
      width: 30%;
      background-color: #000;
      color: #fff;
      padding: 2% 0;
      -webkit-transition: background-color .5s ease, color .5s ease;
      -moz-transition: background-color .5s ease, color .5s ease;
      -ms-transition: background-color .5s ease, color .5s ease;
      -o-transition: background-color .5s ease, color .5s ease;
      transition: background-color .5s ease, color .5s ease;
      -webkit-animation-duration: 1s;
      -webkit-animation-delay: 2s;
      -moz-animation-duration: 1s;
      -moz-animation-delay: 2s;
      &:hover {
        background-color: #d10000;
        color: #fff;
        -webkit-transition: background-color .5s ease, color .5s ease;
        -moz-transition: background-color .5s ease, color .5s ease;
        -ms-transition: background-color .5s ease, color .5s ease;
        -o-transition: background-color .5s ease, color .5s ease;
        transition: background-color .5s ease, color .5s ease;
      }
    }
    @include mobile {
      column-count: 1;
      .img {
        width: 80vw;
        padding: 1vh 0;
      }
      .port-title {
        font-size: 20px;
        margin: 0 10%;
      }
      .port-text {
        margin: 2% 10%;
        font-size: 14px !important;
      }
      .port-btn {
        width: 70%;
      }
      .projeto {
        margin: 2vh 0;
      }
    }
  }
}

.materialbox-caption {
  overflow-x: hidden;
  background-color: #000;
  font-family: $sec-font;
  text-transform: uppercase;
}

.gallery {
  background-color: #000;
  padding: 5vh 5vw;

  .gallery-title, .desc {
    color: #fff;
    text-align: center;
  }

  .gallery-title {
    font-family: $default-font;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 1s;
    -moz-animation-duration: 1s;
    -moz-animation-delay: 1s;
  }

  .desc {
    font-family: $sec-font;
    margin: -1vh 0 2vh;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 2s;
    -moz-animation-duration: 1s;
    -moz-animation-delay: 2s;
  }
  .column {
    float: left;
    width: 25%;
    padding: 10px;
    img {
      margin-top: 12px;
      width: 100%;
    }
  }

  /* Clear floats after the columns */

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Responsive layout - makes a two column-layout instead of four columns */
  @include desktop {
    .column {
      width: 25%;
    }
  }

  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @include mobile {
    .column {
      width: 50%;
    }
  }

  @include mobile-xs {
    .column {
      width: 50%;
    }
  }
}

#contato {
  height: auto;
  background-color: #fff;
  padding: 25vh 0;
  @include mobile {
    padding: 10vh 5vw;
  }
  .arrow {
    padding: 5vh 0;
    width: 100vw;
    text-align: center;
    .arrow-up {
      margin: 0 auto;
      color: #000;
      border: 1px solid #000;
      padding: 10px;
      border-radius: 6px;
      transition: 0.3s background-color;
      &:hover {
        background-color: #000;
        color: #fff;
      }
    }
  }
  .desc {
    font-family: $default-font;
    text-align: center;
    color: #000;
    text-transform: uppercase;
    margin: 0 2vw;
    .contato-desc {
      margin: 0;
      font-size: 50px;
      @include mobile {
        font-size: 25px;
      }
    }
    .contato-sub {
      font-family: $sec-font;
      font-weight: lighter;
      margin: 1vh 0;
      font-size: 20px;
      margin-bottom: 10vh;
      @include mobile {
        font-size: 14px;
        margin-bottom: 5vh;
      }
    }
    .contato-form {
      margin: 0 auto;
      width: 50%;
      .contato-email {
        width: 65%;
        // padding: 1vh;
        // border: none;
        font-family: $sec-font;
        text-transform: uppercase;
        &::placeholder {
          font-family: $sec-font;
          text-transform: uppercase;
          @include mobile {
            text-align: center;
          }
        }
        &:focus, &:active {
          border-color: #000;
        }
      }
      .contato-submit {
        width: 30%;
        float: right;
        padding: 1vh;
        border: none;
        font-family: $default-font;
        text-transform: uppercase;
        transition: 0.3s background-color;
        &:hover {
          background-color: #000;
          color: #fff;
        }
      }
      @include mobile {
        width: 100%;
        margin: 0 1%;
        .contato-email {
          width: 80%;
        }
        .contato-submit {
          float: none;
          margin: 2% 0;
        }
      }
    }
  }
  .social {
    font-family: $default-font;
    display: block;
    margin: 0 auto;
    text-align: center;
    color: #000;
    text-transform: uppercase;
    .social-title {
      @include mobile {
        font-size: 25px;
      }
    }
    .social-sub {
      font-family: $sec-font;
      font-size: 14px;
      margin-top: -2vh;
      margin-bottom: 5vh;
    }
    a {
      text-decoration: none;
      color: #000;
      margin: 0 1vw;
      border: 1px solid #000;
      padding: 10px;
      border-radius: 6px;
      transition: 0.3s background-color;
      &:hover {
        background-color: #000;
        color: #fff;
      }
    }
  }
}

.footer {
  left: 0;
  bottom: 0;
  height: auto;
  width: 100%;
  background-color: #000;
  color: #fff;
  font-family: $sec-font;
  padding: 1px 0;
  p {
    text-align: center;
  }
}

#bio {
  height: auto;
  width: 100vw;
  .perfil {
    width: 50vw;
    height: auto;
    display: block;
    padding: 10vh;
    @include mobile {
      margin: 0 auto;
      // position: relative;
      // left: -12%;
      width: 50vw;
      height: auto;
      padding: 3vh 0;
    }
  }
  .bio {
    font-family: $default-font;
    text-align: center;
    padding: 0 5vw;
    h1 {
      @include mobile {
        font-size: 40px;
      }
    }
    .text {
      font-family: $sec-font;
    }
  }
}

#habilidades {
  background-color: #000;
  padding: 5vh 7vw;
  h1 {
    text-align: center;
    color: #fff;
    font-family: $default-font;
    padding: 2vh 0;
  }
}
